@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme{
    --color-pink: #F40000;
    --color-pink-light: #F5748A;
    --color-blue:#98C3FA;
    --color-beige:#F7EAD4;
    --color-orange-light:#FBBA72;
    --color-orange:#D17000;
}

h5 {
    font-size: 12px;
}

