@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme{
    --color-pink: #F40000;
    --color-pink-light: #F5748A;
    --color-blue:#98C3FA;
    --color-beige:#F7EAD4;
    --color-orange-light:#FBBA72;
    --color-orange:#D17000;
}

h5 {
    font-size: 12px;
}

.quelle {
    font-size: 10px;
    font-style: italic;
    color: var(--color-gray-700);
    background-color: white;
}

.tooltip {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 10px;
  z-index: 1;
  word-break: break-word;
}

.region-inactive {
    fill-opacity: 0.2;
}

.region-active {
    stroke-width: 2;
    stroke: black;
}